@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;   
    
    
}

:root{
    --blue: #1DA1F2;
    --black: #000000;
    --light-black: #181818;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --red: #E50914;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

body{
    overflow-x: hidden;
}

header{
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--black);
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    padding: 1rem 7%;
   
}

header .Logo{
    color: var(--blue);
    font-size: 3rem;
    font-weight: bolder;
}

header .Logo i{
    color: var(--blue);
}

header .NavBar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--blue);
}

header .NavBar a:hover{
    color: white;
    background: var(--red);
}

header .icons i,
header .icons a{
    height: 3.5rem;
    line-height: 3.5rem;
    width: 3.5rem;
    text-align: center;
    font-size: 1.7rem;
    border-radius: 50%;
    cursor: pointer;
    margin-left: .5rem;
    color: white;
    background: var(--blue);
}
/* Home */
.home{
    margin-right: -10px;
    margin-left: -1px;
}

.home .box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
    padding: 1.5rem 12%;   
    
}

.home .box .content h3{
    font-size: 4rem;
    color: var(--blue);
    text-transform: uppercase;
    margin-bottom: 0; 
    
}

.home .box .content p{
    margin-top: 0.5;
    font-size: 1.5rem;
    color: var(--blue);    
}

.home .box .content .btn{    
    color: var(--blue);   
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    background-color: var(--red);
    padding: 16px 30px;
}

/* .top-trending */
.top-trend .box img{
    display: block;
    max-width: 100%;
    height: auto;
}

.top-trend{
    background-color: var(--light-black);    
    margin-top: -43px;  
    margin-left: -1px;  
    margin-bottom: -16px;  
    margin-right: -10px;  
        
}

.top-trending-header{    
    text-align: center;
    color: var(--blue);
    font-size: 2rem; 
    margin-bottom: 0; 
}

.top-trend .content .box .box image {
    position: absolute;
display: block;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%) repeat 0 0;
z-index: 1;
}

.top-trend .content h3{
    font-size: 1.5rem;
    color: var(--blue);
    text-transform: uppercase;
    margin: 0;
}

.top-trend .content p{
    font-size: 1rem;
    color: var(--blue);    
    margin: 0;
    margin-bottom: 1rem;
}

.top-trend .box .content .btn{
    color: var(--blue);   
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    background-color: var(--red);
    padding: 8px 15px;
}

/* All time Favorite */
.all-time-favorite{
    margin-bottom: 1rem;
}

/* Footer */
footer{
    background-color: var(--light-black);   
    color: var(--blue);
    margin-bottom: 5rem;
    margin-top: 5rem;
}

footer .Logo{
    margin-top: 2rem;
    color: var(--blue);
    font-size: 3rem;
    font-weight: bolder;
    margin-right: 4rem;
    margin-top: 1rem;
    margin-left: 20rem;
}

.footer-nav{
    display: inline-block;
    
}

ul{
    list-style: none;
}

li{
    list-style: none;
}

.row{
    display: flex;
}

.contact-us{
    font-size: 1rem;
    margin-right: 1rem;
}

.contact-us li:first-child{
    font-size: 1.3rem;    
}

.social-icons ul{
    display: flex;
    
}

.social-icons ul li{
    margin-right: 1.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    width: 3.5rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;     
    background-color: white;   
     
}

span{
    color: var(--blue);
    margin-left: 40rem;
    font-size: 1.5;
    
}
















   